body {
    background-color: #001821;
    font-family: 'OpenSans';
    color: #FFFFFF;
}
a.logo {
    display: flex;
    flex-direction: row;
    justify-self: start;
    width: 85px;
    height: 36px;
    left: 390px;
    top: 29px;
}
.header{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 56px;
    height: 19px;
    left: 554px;
    top: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    }
    .menu__list{
        display: flex;
        flex-direction: row;
        justify-items: flex-start;
    }
.contacts__phone{
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    width: 191px;
    height: 35px;
    left: 1340px;
    top: 26.64px;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    }
.contacts__workhours{
    position: absolute;
    width: 97px;
    height: 20px;
    left: 1432px;
    top: 55.14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-decoration-line: underline;
}
.hero__header{
    position: absolute;
    width: 511px;
    height: 197px;
    left: 390px;
    top: 196px;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    display: flex;
    align-items: flex-end;
    }
.hero{
    display: flex;
    align-items: center;
}
.hero__text{
    position: absolute;
    width: 196px;
    height: 20px;
    left: 390px;
    top: 420.5px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}
.hero__button{
    position: absolute;
    width: 168px;
    height: 55px;
    left: 390px;
    top: 474px;
    background: #F5170E;
    border-radius: 35px;
}
button{
    position: absolute;
    background: transparent;
    border: none;
    width: 88px;
    height: 19px;
    left: 430px;
    top: 492px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hot-tours{
    position: absolute;
    width: 273px;
    height: 49px;
    left: 392px;
    top: 775px;
    font-size: 36px;
    line-height: 42px;
    display: flex;
    align-items: flex-end;
}
.tours__title_icon{
    position: absolute;
    width: 21px;
    height: 28px;
    left: 677px;
    top: 788px;
}
ul {
    padding: 0;
    margin: 0;
}
ul li {
    list-style: none;
}
.tours__wrap{
    width: 1920px;
    height: 1202px;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-items: center;
}
.tours__list{
    display: flex;
    flex-direction: column;
}
.tour__content{
    width: 362px;
    height: 305px;
    left: 389px;
    top: 1019px;
    background: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
}
.paginator{
display: block;
}

.news__title{
position: absolute;
width: 325px;
height: 49px;
left: 390px;
top: 1451px;
font-family: 'OpenSans';
font-size: 36px;
line-height: 42px;
display: flex;
align-items: flex-end;
color: #FFFFFF;
}
.icon__list{
    display: flex;
    flex-direction: row;
}